*{
    box-sizing:border-box;
}

body{
  display:flex;
  min-height:100vh;
  flex-direction:column;
  margin:0;
  padding:0;
  font-family:sans-serif;
  font-size:18px;
  line-height:1.5;
  color:#fff;
  background:#048CC8;
}

.header,
.footer{
  background:#fff;
  color:#048CC8;
  position: -webkit-sticky;
	position: sticky;
}

.header{
	top:0; /* pour que l'header reste toujours visible quand on defile la page */
	z-index:100;
}

.nav,
.footer-nav,
.main{
  max-width:1200px;
  margin:0 auto;
}

.main{
  flex:1;
  padding:25px;
  text-align: justify;
}

.flex{
  display:flex;
}

.footer-nav.flex{
  justify-content:center;  
}

.flex-item{
  padding:12px;
}

.flex-item.home{
  margin:0 auto 0 0;
  font-size:1em;
  border-bottom:5px solid #048CC8;
}

.flex-item.home a{
  border:none;
}

a{
  color:#048CC8;
  text-decoration:none;
  display:block;
  border-bottom:5px solid #fff;
}

a:hover{
  border-bottom:5px solid #048CC8;
  transition:border-color 400ms ease-out;
}

p{
  max-width:35em;
}